<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lux Bank</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="main.css">
    <script src="/bootstrap.bundle.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            font-family: monospace;
        }
    </style>

</head>

<body>
    <div class="p-0 container-fluid">
        <nav>
            <div class="navrow row">
                <div class="logo col-lg-2 col-md-2 col-sm-12">
                    <a href="/" style="color: rgb(49, 49, 49); text-decoration: none;"><h2>LUX BANK</h2></a>
                </div>
                <div class="list col-lg-5 col-md-10 col-sm-12">
                    <ul>
                        <li><a href="/investment">Investments</a> </li>
                        <li><a href="/credit">Credit</a></li>
                        <li><a href="/card">Cards</a></li>
                        <li><a href="/retirement">Retirement</a></li>
                        <li><a href="/services">Payments & Services</a></li>
                        <li><a href="/news">News</a> </li>
                    </ul>
                </div>
                <form class="search col-lg-3 col-md-12 col-sm-12" action="/search" method="get">
                    <input type="search" placeholder="Search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="logging col-lg-2 col-md-12 col-sm-12">
                    <ul id="list">
                        <li><a  href="/user"><img id="pfp" src="" alt="pfp" width="40px" height="40px" style="border-radius: 100%;"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <main style="min-height: 600px;" class="px-5 py-5 mx-5">
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <h1>Credit Application</h1>
                </div>
            </div>
            <div class="row" id="creditPlace">
                  <!-- <div class="col-lg-4 my-4">
                        <div class="card" style="width: 18rem;">
                              <img class="card-img-top" src="..." alt="Card image cap">
                              <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <p class="card-text">
                                          <ul style="list-style: disc; margin: 0; padding: 0;">
                                                <li><span>Amount: </span> <span>1000</span></li>
                                                <li><span>Interest: </span> <span>7</span></li>
                                                <li><span>Sum Amount: </span>1070 <span></span></li>
                                                <li><span>Payment Per 1 Month: </span>89<span></span></li>
                                                <li><span>Expiration Time: </span>12 Month<span></span></li>
                                          </ul>
                                    </p>
                                    <a href="#" class="btn btn-primary" style="float: right; width: 40%;">Apply</a>
                              </div>
                        </div>
                  </div> -->
            </div>
        </main>

        <footer style="position: relative; bottom: 0; border-top: 1px solid gray;" class="px-5 py-3">
            <div class="row">
                <div class="col-lg-2 d-flex justify-content-center">
                    <h3>LUX Bank</h3>
                </div>
                <div class="col-lg-10">
                    <p style="font-size: 14px; font-weight: 600;">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo quibusdam doloremque, iure
                        aliquam voluptatibus facere pariatur architecto repudiandae dolorum! Non dolor commodi
                        laboriosam culpa ea, ducimus nisi eos. Nemo, officia.
                        Nisi quisquam consectetur magni voluptatibus tenetur nobis nemo minima facilis a labore adipisci
                        aut quae, consequuntur blanditiis repellat quia velit sit excepturi, beatae fuga magnam pariatur
                        fugiat omnis rem! Ipsum!
                        Fuga doloribus alias quo eius tenetur sapiente repudiandae laudantium, dolorum necessitatibus
                        mollitia quae soluta rerum nam reiciendis cupiditate, incidunt accusamus corrupti accusantium
                        temporibus quos, quisquam magni a. Provident, distinctio error?
                    </p>

                </div>
            </div>
            <div class=" mt-3 row">
                <div class="col-lg-3">
                    <ul>
                        <li style="margin: 5px 0;"><span style="font-weight: 500;" class="inf">Contact: </span>+123 456
                            78 90</li>
                        <li><span style="font-weight: 500;" class="inf">Address: </span>131 Main Dr E Miscouche Prince
                            Edward Island Canada C0B 1T0</li>
                    </ul>
                </div>
                <div class="col-lg-3 d-flex justify-content-center align-items-center">
                    <ul class="d-flex">
                        <li style="margin: 0px 20px;"><a href=""><i style="font-size: 30px;"
                                    class="fa-brands fa-instagram"></i></a> </i></li>
                        <li style="margin: 0px 20px;"><a href=""><i style="font-size: 30px;"
                                    class="fa-brands fa-facebook"></i></a></li>
                        <li style="margin: 0px 20px;"><a href=""><i style="font-size: 30px;"
                                    class="fa-brands fa-twitter"></i></a></li>
                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <ul class="d-flex">
                        <li><a href="">Who are we?</a></li>
                        <li><a href="">Why you must choose us?</a></li>
                        <li><a href="">How we work?</a></li>
                        <li><a href="">Wanna work with us?</a></li>
                        <li><a href="">Future projects</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
    <script>
                const pfp = document.getElementById("pfp")
                fetch("/api/data", {method: "post"})
                .then(res => res.json())
                .then(data => {
                    console.log(data)
                    const pfpPath = data.user.pfpPath;

// Dosya yolu boş ise veya tanımlanmamışsa varsayılan bir resim kullan
if (!pfpPath) {
  pfp.src = "https://api-private.atlassian.com/users/43f179105168e72ca93f2ae0df2dd491/avatar";
} else {
  const fileName = pfpPath.split("\\").slice(-1)[0];

  // Resim dosyasının var olup olmadığını kontrol et
  const img = new Image();
  img.onload = function() {
    // Resim dosyası mevcut
    pfp.src = fileName;
  };
  img.onerror = function() {
    // Resim dosyası mevcut değil, varsayılan resmi kullan
    pfp.src = "https://api-private.atlassian.com/users/43f179105168e72ca93f2ae0df2dd491/avatar";
  };
  img.src = fileName;
}
                })
                .catch(err => {console.log(err)})
    </script>

    <script>
            const creditPlace = document.getElementById("creditPlace")
            const apply = (id) => {
                const params = {
                    creditID: id
                }
                const urlParams = new URLSearchParams(params)
                const url = `/credit/creditapply?${urlParams}`
                console.log(url)
                fetch(url)
                .then(res => res.json())
                .then(data => {
                    if(data.msg === "success"){
                        alert("You successfully applied. You can check status of your application from your user profile.");
                        location.href="/";
                    }
                    else if(data.msg === "failed"){
                        alert("An error occurred. Please try again later.");
                    }
                    else if(data.msg === "found"){
                        alert("You can't apply twice.");
                    }
                    else if(data.msg === "not-found"){
                        alert("You need to login to apply");
                    }
                    else if(data.msg === "already-has"){
                        alert("You already have this credit.");
                    }
                    else if(data.msg === "wait"){
                        alert("You have to wait 10 seconds to do any process.")
                    }
                  })
            } 

            fetch("/api/creditsactive", {method: "post"})
            .then(res => res.json())
            .then(data => {
                console.log(data)
                if(data.length > 0){
                    data.forEach(item => {
                        creditPlace.innerHTML += `
                        <div class="col-lg-4 my-4">
                              <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                          <h5 class="card-title">${item.creditname}</h5>
                                          <p class="card-text">${item.creditdescription}</p>
                                          <p class="card-text">
                                                <ul style="list-style: disc; margin: 0; padding: 0;">
                                                      <li><span>Amount: </span> <span>${parseFloat(item.creditamount.$numberDecimal).toFixed(2)}</span></li>
                                                      <li><span>Interest: </span> <span>${item.creditinterest.$numberDecimal}</span></li>
                                                      <li><span>Sum Amount: </span><span>${parseFloat(item.sumAmountToPay.$numberDecimal).toFixed(2)}</span></li>
                                                      <li><span>Payment Per 1 Month: </span>${parseFloat(item.paymentAmountPerInterval.$numberDecimal).toFixed(2)}<span></span></li>
                                                      <li><span>Expiration Time: </span><span>${item.creditexpirationmonth} Month</span></li>
                                                </ul>
                                          </p>
                                          <a href="#" class="btn btn-primary" style="float: right; width: 40%;" onclick="apply('${item._id}')">Apply</a>
                                    </div>
                              </div>      
                        </div>
                        `                        
                    })
                }

                else{
                    creditPlace.innerHTML = `<h1>NO DATA FOUND</h1>`
                }
                  
                  
                 
            })
            .catch(err => console.log(`[AN ERROR OCCURRED ON CREDITS] ${err}`))
    </script>

    <script>
        // const apply = document.getElementById("appliform")
        // apply.addEventListener("submit", () => {
        //     fetch("/card/application", {
        //         method: "post"
        //     })
        //         .then(res => res.json())
        //         .then(data => {
        //             console.log(data)
        //             if (data.msg === "success") {
        //                 alert("You successfully applied. You can check status of your application from your user profile.")
        //             }
        //             else if (data.msg === "error") {
        //                 alert("An error occurred. Please try again later.")
        //             }
        //             else if (data.msg === "wait") {
        //                 alert("You have to wait 10 seconds to do any process.")
        //             }
        //         })
        // })  
    </script>
    <script src="https://kit.fontawesome.com/f8bdf83e95.js" crossorigin="anonymous"></script>
</body>

</html>